.search-button{
    width: 100%;
    height: 100%;
    background-image: url('../img/serach_button.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.event-add-button{
    width: 100%;
    height: 100%;
    background-image: url('../img/event_add_buttton.png');
    background-size: contain;
    background-repeat: no-repeat;
}