.main-container{
    background-color: #ffffff;
}

.nav-back-button{
    font-size: 36px;
    font-weight: bold;
    background:none;
    color: red;
    border: none;
}

.date-container {
    width: 100%;
    height: auto;
    padding: 12px;
    margin: 12px;

    font-size: 24px;
    font-weight: bold;
    border-bottom: 6px solid #e0e0e0;
}

.eventlist-container {
    width: 100%;
    height: 100%;
}
.eventlist-container .event-container {
    width: 90%;
    margin: 24px 36px;
    padding: 24px;
    display: flex;
    gap: 12px;
    border-bottom: 2px solid #e0e0e0;
}
.eventlist-container .event-title {
    padding: 12px 24px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventlist-container .event-container .holidayImg {
    width: 36px;
    height: 36px;
    color: #ffffff;
    background-color: #ff9900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    line-height: 1;
    font-size: 24px;
    padding: 8px;
}
.eventlist-container .event-container .holiday-text {
    margin-left: auto;
    padding: 8px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventlist-container .event-container .event-time {
    margin-left: auto;
    padding: 8px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}