.main-container{
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    position: fixed;
}

/* ========================================
   横向き（ランドスケープ）
======================================== */
@media (orientation: landscape) {
    .main-container {
        margin-top: 60px;
        height: calc(100dvh - 60px);
    }
}

/* ========================================
   縦向き（portrait）
======================================== */
@media (orientation: portrait) {
    .main-container{
        margin-top: 150px;
        height: calc(100dvh - 150px - 100px);
    }
}