.search {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* アニメーション */
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    pointer-events: none;
}
.search.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.search-container {
    display: flex;
    align-items: center;      
    justify-content: center;     
    gap: 16px;
    position: relative;
    margin-top: 24px;
}
.search-input-wrapper {
    position: relative;
}
.search-input-wrapper input[type="text"] {
    padding: 12px 40px 12px 12px;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    width: 400px;
    background-color: #fafafa;
}

.search .cancel-btn {
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    color: red;
    border: none;
}

.search-input-wrapper .clear-btn {

    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    background: #000000;
    border: none;
    border-radius: 50%;

    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
}
.search-input-wrapper input:not(:placeholder-shown) + .clear-btn {
    opacity: 1;
    pointer-events: auto;
}
/* 検索結果表示リスト */
.search-list{
    width: 60%;
    height: calc(100% - 135px);
    overflow-y: auto;
    padding: 8px 16px;
    box-sizing: border-box;
    background: #ffffff;
}
.search-list .search-item {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    cursor: pointer;
    gap: 12px;
}
.search-item .search-item-date {
    font-size: 24px;
    color: #888888;
    padding: 12px;
    margin: 8px;
    border-bottom: 2px solid #000000;
}
.search-item .search-item-title{
    font-size: 24px;
    color: #000000;
    padding: 12px;
    margin: 8px;
}
/* ----------------------------------------
   縦向き（portrait）
---------------------------------------- */
@media (orientation: portrait) {
    .search{
        height: 135px;
    }
    .search-container{
        height: 135px;
    }
}
/* ---------------------------------------
   横向き（landscape）
--------------------------------------- */
@media (orientation: landscape) {
    .search{
        height: 60px;
    }
    .search-container{
        height: 60px;
        margin-top: 12px;
    }
}